@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

header{
  background-image:linear-gradient(to top, rgba(0, 0, 0, 0.8), rgb(0,0,0,.2)), url(../images/바다속쓰레기.jpg);
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

body {
   font-family: 'Gowun Dodum', sans-serif;
}

div {
  transition: 0.5s ease-in;
}

img {
  max-width: 100%;
  transition: all 0.2s linear;
}
.i_over {
    overflow: hidden;
}

.i_over:hover img {
  transform: scale(1.4);
}


.card-hover:hover{
    background-color:rgba(97, 214, 136, 0.216);
}

.main-card-text{
    height: 160px;
}

.card-img{
    width: 120px;
    height: 120px;
    object-fit: cover; 
    
}

.card-img:hover{
    transform: scale(1.2);
  }

  .footer{
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.8), rgb(0,0,0,.2)), url(../images/바다속쓰레기.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
  }